<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/head :: head"></div>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="container">
		<br />
		<h3
			th:text="'Lihat Data Penduduk di ' + ${namaKota} + ', Kecamatan ' + ${namaKecamatan} + ', Kelurahan ' + ${namaKelurahan}">Lihat
			Data keluarga Berdasarkan NIK</h3>
		<hr />

		<br />
		<div class="row">
			<div class="col-sm-6">
				<h5>Penduduk Dengan Usia Termuda</h5>
				<table style="width: 80%" class="table">
					<tr>
						<td th:text="'NIK'"></td>
						<td th:text="${pendudukMuda.nik}"></td>
					</tr>
					<tr>
						<td th:text="'Nama'"></td>
						<td th:text="${pendudukMuda.nama}"></td>
					</tr>
					<tr>
						<td th:text="'Tanggal Lahir'"></td>
						<td th:text="${pendudukMuda.getTglLahir()}"></td>
					</tr>
				</table>
			</div>

			<div class="col-sm-6">
				<h5>Penduduk Dengan Usia Tertua</h5>
				<table style="width: 80%" class="table">
					<tr>
						<td th:text="'NIK'"></td>
						<td th:text="${pendudukTua.nik}"></td>
					</tr>
					<tr>
						<td th:text="'Nama'"></td>
						<td th:text="${pendudukTua.nama}"></td>
					</tr>
					<tr>
						<td th:text="'Tanggal Lahir'"></td>
						<td th:text="${pendudukTua.getTglLahir()}"></td>
					</tr>
				</table>
			</div>
		</div>
		
		<br />
		<br />
		<hr />
		<table style="width: 100%" class="table table-hover" id="table">
			<thead>
				<tr>
					<th class="text-center" th:text="'NIK'">NIK</th>
					<th class="text-center" th:text="'Nama Lengkap'">Nama Lengkap</th>
					<th class="text-center" th:text="'Jenis Kelamin'">Jenis
						Kelamin</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="penduduk, iterationStatus: ${listPenduduk}">
					<td class="text-center" th:text="${penduduk.nik}">NIK</td>
					<td class="text-center" th:text="${penduduk.nama}">Nama</td>
					<td class="text-center"
						th:text="${penduduk.jenisKelamin}==1?'Wanita':'Pria'">Jenis
						Kelamin</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

<footer>
	<div th:replace="fragments/footer :: footer"></div>
</footer>
</html>