<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/head :: head"></div>
<title>SI Kependudukan | Lihat Data Penduduk</title>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="container">
		<br/>
		<h3 th:text="'Lihat Data Penduduk - ' + ${nik}">Lihat Data Penduduk Berdasarkan NIK</h3>
		<hr/>
		<h4 th:text="'Penduduk dengan NIK ' + ${nik} + ' tidak dapat ditemukan.'"></h4>
	</div>
</body>

<footer>
	<div th:replace="fragments/footer :: footer"></div>
</footer>
</html>